<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <form class="form_class" th:method="POST" th:action="@{/admin/{id}(id=${userEdit.getId()})}" th:object="${userEdit}">

        <label class="name_field" for="id">id</label>
        <input class="input_field" type="text" th:field="*{id}" id="id"/>
        <br>
        <label class="name_field" for="firstName">First name</label>
        <input class="input_field" th:accept-charset="UTF-8" type="text" th:field="*{firstName}" id="firstName"/>
        <br>
        <label class="name_field" for="lastName">Last name</label>
        <input class="input_field" type="text" th:field="*{lastName}" id="lastName"/>
        <br>
        <label class="name_field" for="age">Age</label>
        <input class="input_field" type="text" th:field="*{age}" id="age"/>
        <br>
        <label class="name_field" for="email">Email</label>
        <input class="input_field" type="text" th:field="*{email}" id="email"/>
        <br>
        <label class="name_field" for="password">Password</label>
        <input class="input_field" type="text" th:field="*{password}" id="password"/>
        <br>
        <select multiple name="roles1">
            <option th:each="role:${roles}" th:value="${role.getNameRole()}" th:text="${role.getNameRole()}"></option>

        </select>

        <br>
        <input class="button_class" type="submit" value="Edit"/>

        <input class="button_class" type="button" value="List users" onclick="window.location.href='/admin'">
        <form class="button_class" name="logoutForm" th:action="@{/logout}" method="post">
            <input class="button_class" type="submit" value="Log Out"/>
        </form>
    </form>
</body>
</html>

