<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table style="text-align: center" class="form_class_table">
        <tr class="head_table head_table_show">
            <th>id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>


        <tr th:object="${user}">
            <td><p align="center" th:utext="${user.getId()}"></p></td>
            <td><p align="center" th:utext="${user.getFirstName()}"></p></td>
            <td><p align="center" th:utext="${user.getLastName()}"></p></td>
            <td><p align="center" th:utext="${user.getAge()}"></p></td>
            <td><p align="center" th:utext="${user.getEmail()}"></p></td>
            <td><p align="center" th:utext="${user.getAuthorities()}"></p></td>
        </tr>
        <tr><td colspan="6">
            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input class="button_class" type="submit" value="Log Out"/>
            </form>
        </td></tr>
    </table>
</body>
</html>