<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User</title>-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <link rel="stylesheet" href="/css/style.css">-->
<!--</head>-->
<!--<body>-->
<!--    <table style="text-align: center" class="form_class_table">-->
<!--        <tr class="head_table head_table_show">-->
<!--            <th>id</th>-->
<!--            <th>First name</th>-->
<!--            <th>Last name</th>-->
<!--            <th>Age</th>-->
<!--            <th>Email</th>-->
<!--            <th>Role</th>-->
<!--        </tr>-->


<!--        <tr th:object="${user}">-->
<!--            <td><p align="center" th:utext="${user.getId()}"></p></td>-->
<!--            <td><p align="center" th:utext="${user.getFirstName()}"></p></td>-->
<!--            <td><p align="center" th:utext="${user.getLastName()}"></p></td>-->
<!--            <td><p align="center" th:utext="${user.getAge()}"></p></td>-->
<!--            <td><p align="center" th:utext="${user.getEmail()}"></p></td>-->
<!--            <td><p align="center" th:utext="${user.getAuthorities()}"></p></td>-->
<!--        </tr>-->
<!--        <tr><td colspan="6">-->
<!--            <form name="logoutForm" th:action="@{/logout}" method="post">-->
<!--                <input class="button_class" type="submit" value="Log Out"/>-->
<!--            </form>-->
<!--        </td></tr>-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>
<div th:object="${user}">
    <!--    header-->
    <div class="row p-3 bg-dark text-white">
        <div class="col" id="loginHeader">
            <!--<strong><span th:text="${user.getEmail()}"></span></strong> with roles: <span
                th:each="role:${user.getAuthorities()}" th:text="${role} + ' '"></span>-->
        </div>
        <div class="col text-end ">
            <a class="text-muted text-decoration-none fs-6 font-monospace" th:href="@{/logout}" method="post">Logout</a>
        </div>
    </div>
    <!--    content-->
    <div class="d-flex align-items-start">
        <!--        левое меню-->
        <div class="nav flex-column nav-pills col-2 ps-0 pe-0 pt-3" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
            <ul class="nav flex-column ">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a style="cursor: pointer" href="#" class="nav-link  placeholder ms -0 me-0 w-100 text-start"
                       th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a style="cursor: pointer" href="#" class="nav-link active placeholder ms -0 me-0 w-100 text-start"
                       th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <!--        что отображается-->
        <div class="tab-content w-100 min-vh-100 pe-4" style="background-color: rgba(0, 0, 0, 0.05)"
             id="v-pills-tabContent">
            <div class="tab-pane fade show active ps-4 pt-3" id="v-pills-home" role="tabpanel"
                 aria-labelledby="v-pills-home-tab">
                <div class="h2 mb-4">User information-page</div>
                <div class="p-3 rounded-top border border-1">
                    <span class="h4">About user</span>
                </div>
                <div class="p-3 rounded-bottom border border-1 border-top-0 bg-white">
                    <table class="table table-striped">

                        <tr class="head_table head_table_show">
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        <tbody id="userAuth">
                        <!--<tr>
                            <td th:utext="${user.getId()}"></td>
                            <td th:utext="${user.getFirstName()}"></td>
                            <td th:utext="${user.getLastName()}"></td>
                            <td th:utext="${user.getAge()}"></td>
                            <td th:utext="${user.getEmail()}"></td>
                            <td><span th:each="role:${user.getAuthorities()}" th:utext="${role} + ' '"></span></td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="js/user.js"></script>
<script src="js/loginHeader.js"></script>
<!-- Вариант 2: Bootstrap JS отдельно от Popper
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>